@import "tailwindcss";

@theme {
  --color-main: #ff714d;
  --color-back: #121212;
  --color-contaner: #332c29;
  --color-secondary: #ffe9d3;
  --color-text: white;
  --color-overlay: #d9d9d9;

  --font-main: "DM Sans", system-ui, sans-serif;
  --font-title: "Rammetto One", sans-serif;
  --font-secondary: "Arimo", sans-serif;
}

small {
  @apply text-white/40;
}

body,
html {
  @apply bg-back text-text  font-main;
}

.ios-card {
  background: white;
  padding: 16px;
  border-radius: 28px;
  -webkit-mask-image: radial-gradient(
    circle at center,
    black 98%,
    transparent 100%
  );
  mask-image: radial-gradient(circle at center, black 98%, transparent 100%);
}
